.new-food-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;
}

.new-food-modal {
    background: white;
    border-radius: 12px;
    width: 500px;
    max-width: calc(100% - 40px);
    padding: 20px;

    position: relative;
    z-index: 2001;
}

.btn-optional-units{
    background-color: var(--color-highlight);
    height: 40px;
    margin: 20px 0px
}