.food-selector{
    background-color: var(--color-foreground);
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: var(--border-radius-default);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.food-selector-button{
    height: 35px;
    width: auto;
    padding: 10px;
    border-radius: 20px;
}

.food-selector-button.active{
    background-color: var(--color-highlight);
}

.category-selection{
    display: flex;
    gap: 5px;
}

.new-recipe-button {
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 64px;
    height: 64px;

    border: none;
    border-radius: 50%;

    background-color: var(--color-primary);
    color: white;

    font-size: 32px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    box-shadow: var(--box-shadow);

    z-index: 1000;
}

.recipe-overview{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.recipe-overview img{
    height: 120px;
}